{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-regenerator"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "syntax-dynamic-import",
        "transform-regenerator"
      ]
    }
  }
}
