doctype html
html
    head
        title Login Page
        meta(name="language", content="zh-cn")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(http-equiv="cleartype", content="on")
        link(href="//cdn.bootcss.com/materialize/0.97.7/css/materialize.min.css", rel="stylesheet")
        link(href="//cdn.bootcss.com/highlight.js/9.5.0/styles/github.min.css", rel="stylesheet")
        link(href="/style.css", rel="stylesheet")
    body.management
        div.row: div.col.s12.m8.offset-m2.l6.offset-l3: form(method="post", id="form")
            h2 Authorization Required
            p Please enter your username and password.
                br
                span.red-text= note
            div.row: div.input-field.col.s12
                input.validate(id="uname", type="text", name="uname", placeholder="Your User name")
                label(for="uname") Username
            div.row: div.input-field.col.s12
                input.validate(id="passwd", type="password", name="passwd", placeholder="Your Password")
                label(for="passwd") Password
            div.row: div.col.s12
                a.waves-effect.waves-light.btn(id="login") Login
                a.waves-effect.waves-light.btn(id="reset", style="margin-left: 10px;") Reset
            div.row
        script(src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js")
        script(src="//cdn.bootcss.com/materialize/0.97.7/js/materialize.min.js")
        script.
            $('#login').click(function() {
                $('#form').submit();
            });
            $('#reset').click(function() {
                $('#uname').val('');
                $('#passwd').val('');
            });