#editor input,
#editor textarea {
  width: 600px;
}

#editor input.inline {
  width: 40px;
}

#editor {
  padding-top: 30px;
}

#editor textarea {
  height: 70vh;
  word-break: break-all;
}

#editor td {
  vertical-align: top;
}

#editor .label {
  text-align: right;
}