html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #bbb;
  font-family: Microsoft Yahei UI, Arial, Helvetica, sans-serif;
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
  overflow-y: scroll;
}