@media screen and (max-width: 800px) {
  /* Mobile layout */
  #container {
    display: initial;
  }

  #left {
    width: 100%;
    max-width: initial;
  }

  #right {
    width: initial;
    padding: 10px;
  }

  /* Hide everything excluding title. */
  #left > *:not(.alwaysShow) {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  /* Desktop/tablet layout */
  #container {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 5px;
  }

  #left {
    width: 25%;
    padding: 5px;
    display: inline-block;
  }

  #right {
    padding-left: 2em;
    padding-top: 0.67em;
    display: inline-block;
    width: 65%;
    vertical-align: top;
  }
}

#footer {
  text-align: center;
  margin: 10px;
}
