#right h1.postTitle {
  font-size: 1.5em;
  font-weight: normal;
}

#right h2.postMeta {
  font-size: 1em;
  color: #aaa;
  font-weight: normal;
  word-break: break-all;
}

#right div.preview:not(pre) {
  text-indent: 2em;
}

#right pre {
  font-size: 0.85em;
}

#right div.eachpost:not(:nth-last-of-type(-n+2)) {
  border-bottom: 2px solid #555;
}

#right div.eachpost {
  padding: 0px 5px 20px 5px;
  margin-bottom: 10px;
}

.eachpost {
  word-wrap: break-word;
}

.eachpost > div > p {
  line-height: 1.5em;
}

.eachpost pre {
  border: 1px solid grey;
  padding: 0.5em;
  overflow-x: scroll;
}