<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>namespace ntzyz;</title>
        <meta name="language" content="zh-cn" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta http-equiv="cleartype" content="on" />
        <link href="//cdn.bootcss.com/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <canvas id="canvas" style="position: fixed; z-index: -100;"></canvas>
        <div class="body">
            <header>
                <div class="left">
                    <!-- Title -->
                    <h1><a v-on:click="reset" style="cursor: pointer;">{{blog_title}}</a></h1>
                    <h2>{{blog_subtitle}}</h2>
                </div>
                <div class="right">
                    <!-- Category -->
                    <ul>
                        <li v-for="item in category"><a v-on:click="categoryClick(item.category_id)" class="waves-effect waves-teal btn-flat">{{item.category_name}}</a></li>
                    </ul>
                </div>
            </header>
            <div class="row">
                <div class="col s12 m8">
                    <!-- Posts -->
                    <div class="main">
                        <template v-for="item in post">
                            <post :post_date="item.post_date" 
                                :post_title="item.post_title" 
                                :post_category="item.category_name" 
                                :post_content="item.post_content ? item.post_content : item.post_shot" 
                                :post_id="item.post_id" 
                                :show_more="!item.post_content"></post>
                            <div id="disqus_thread" v-if="isDisqusDisplaying"></div>
                        </template>
                        <div v-show="post.length == 0" style="display: none;">
                            <h2>未找到</h2>
                            <p>为什么不去其他分区看看呢（</p>
                        </div>
                    </div>
                    <div v-bind:style="{display: isLoading ? '' : 'none'}">
                        <!-- From: https://github.com/tobiasahlin/SpinKit -->
                        <div class="spinner" style="opacity: 1;">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 right">
                    <!-- Widgets -->
                    <template  v-for="item in widget">
                        <card :content="item.widget_content"></card>
                    </template>
                </div>
            </div>
            <div class="row foot">
                Powered by @ntzyz. Built with Vue.js, Node.js and Express.js. <span onclick="window.open('https://github.com/ntzyz/new-blog')" style="cursor: pointer;">View source on GitHub.</span>
            </div>
        </div>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="//cdn.bootcss.com/vue/1.0.28/vue.min.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>
